<!--The whole content below can be removed with the new code.-->

<div class="row" *ngIf="!isEdit">
  <div class="col l10">
    <div *ngIf="eventSpace">
      <md-card>
        <img md-card-image src="#">
        <md-card-header>
          <md-grid-list cols="2">
            <div class="col l6">
              <md-card-title><label>Space:</label> {{ eventSpace.name }}</md-card-title>
            </div>
            <div class="col l6">
              <md-card-title><label>Capacity:</label> {{ eventSpace.capacity }} people</md-card-title>
            </div>
            <div class="col l12">
              <md-card-subtitle>{{ eventSpace.location }}</md-card-subtitle>
              <md-card-subtitle>{{ eventSpace.address }}</md-card-subtitle>
            </div>
          </md-grid-list>
        </md-card-header>
        <md-card-content>
            <div>
              <p>Recording capabilities: yes</p>
              <p>Breakout room: no</p>
            </div>
            <div>
              <p><label>Contact:</label></p>
              <p>{{ eventSpace.contact[0] }}</p>
              <p>john@doe.com</p>
              <p>212-222-5454</p>
            </div>
            <div>
              <p><label>Notes: </label></p>
              <p> {{ eventSpace.note }} </p>
            </div>
            <div>
              <p><label>Security Process:</label></p>
              <p> {{ eventSpace.name }} </p>
            </div>
        </md-card-content>
        <md-card-actions>
          <button md-button color="primary" (click)="edit(eventSpace)">Edit</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div class="col l2">
    <md-input-container>
      <input mdInput placeholder="Search">
    </md-input-container>
  </div>
</div>


<div class="row" *ngIf="isEdit">
  <div class="col l10">
    <div *ngIf="eventSpace">
      <md-card>
        <img md-card-image src="#">
        <md-card-header>
          <md-grid-list cols="2">
            <div class="col l6">
              <md-input-container>
                <md-card-title><input [(ngModel)]="eventSpace.name" mdInput placeholder="Space" name="name"></md-card-title>
              </md-input-container>
            </div>
            <div class="col l6">
              <md-input-container>
                <md-card-title><input [(ngModel)]="eventSpace.capacity" mdInput placeholder="Capacity" name="capacity"></md-card-title>
              </md-input-container>
            </div>
            <div class="col l12">
              <md-input-container>
                <md-card-subtitle><input [(ngModel)]="eventSpace.location" mdInput placeholder="Location" name="location"></md-card-subtitle>
              </md-input-container>
              <md-input-container>
                <md-card-subtitle><input [(ngModel)]="eventSpace.address" mdInput placeholder="Address" name="address"></md-card-subtitle>
              </md-input-container>                
            </div>
          </md-grid-list>
        </md-card-header>
        <md-card-content>
            <div>
              <p><md-slide-toggle>Recording Capabilities</md-slide-toggle></p>
              <p><md-slide-toggle>Breakout Room</md-slide-toggle></p>
            </div>
            <div>
              <p><label>Contact:</label></p>
              <md-input-container>
                <p><input [(ngModel)]="eventSpace.contact[0]" mdInput placeholder="contact" name="contact"></p>
              </md-input-container>
              <md-input-container>
                <p><input mdInput placeholder="Recording Capabilities"></p>
              </md-input-container>
              <md-input-container>
                <p><input mdInput placeholder="Breakout Room"></p>
              </md-input-container>
            </div>
            <div>
              <md-input-container>
                <p><textarea [(ngModel)]="eventSpace.note" mdInput placeholder="Note" name="note"></textarea></p>
              </md-input-container>
            </div>
            <div>
              <md-input-container>
                <p><textarea  [(ngModel)]="eventSpace.security_process" mdInput placeholder="Security Process" name="security_process"></textarea></p>
              </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button color="primary" (click)="save()">Save</button>
          <button md-raised-button color="accent" (click)="cancel()">Cancel</button>
        </md-card-actions>
      </md-card>
    </div><!-- ./form -->
  </div>
</div>
    
